* {
    margin: 0;
    padding: 0;
}

.w {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header-image{
    position: relative;
    margin-top: 0px;
}

.header-image img{
    width: 100%;
    margin: none;
    padding: none;
}

h1 {
    font-family: rockwell-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 20px 20px;
}

body {
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: black;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    margin: 30px auto;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 600;
    font-style: normal;
}



.nav {
    float: left;
}

.nav ul li {
    float: left;
    margin: 0 13px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 15px;
    color: white;
}

.nav ul li a:hover {
    border-bottom: 2px solid #994653;
    color: #994653;
}

.text {
    background-color: white;
    padding: 100px 100px;
}

p {
    padding: 20px 20px;
}

.box {
    height: 700px;
    background-color: white;
}

.box-bd ul {
    width: 105%;
}

.box-bd ul li {
    float: left;
    width: 210px;
    height: 336px;
    background-color: white;
    margin-right: 30px;
    margin-top: 150px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 8px 8px 20px 8px grey;
    transition: ease-in-out all 0.1s;
    transform: scale(1);
}

.box-bd ul li:hover {
    background-color: gainsboro;
    transform: scale(1.1);
}

.box-bd ul li:active {
    background-color: rgb(187, 187, 187);
    transform: scale(1.2);
}

.box-bd ul li img {
    width: 100%;
}

.box-bd ul li h2 {
    margin: 20px 20px 0 25px;
    font-size: 26px;
    font-family: rockwell-condensed, sans-serif;
    font-weight: 700;
    color: black;
}

footer {
    padding: 20px 20px;
    font-family: rockwell-condensed, sans-serif;
    font-weight: 600;
    color: white;
    height: 100px;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .box {
        height: 1200px;
    }

    .header {
        margin: 60px auto;
    }
}

@media screen and (max-width: 860px) {
    .box {
        height: 1600px;
    }

    .text {
        background-color: white;
        padding: 20px 20px;
    }
    
    p {
        padding: 5px 5px;
    }
}

@media screen and (max-width: 756px) {
    .box {
       margin-top: 120px;
    }
}

@media screen and (max-width: 572px) {
    .box {
        height: 700px;
        margin-top: 170px;
    }

    .box-bd ul li {
        width: 100px;
        height: 160px;
        margin-right: 20px;
        margin-top: 50px;
    }

    .box-bd ul li h2 {
        font-size: 12px;
        margin: 5px 5px 0 7.5px;
    }
}

@media screen and (max-width: 356px) {
    .nav ul li a {
        font-size: 8px;
    }
    .w {
        width: 100%
    }
    
}