* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #64242e;
    color: white;
}

.h1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h1 > div {
    padding: .7rem 2rem;
}

.sub {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background: white;
    color: black;
    border-radius: .2rem;
}

.h2 {
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 1rem;
}

.Dot {
    width: .7rem;
    height: .7rem;
    background: white;
    display: inline-block;
    border-radius: .7rem;
    margin: 0 .2rem;
}

.h3 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.h3_l {
    width: 40%;
    margin-right: 10%;
    position: relative;

}

.h3_r {
    width: 50%;
}

.h3_l1 {
    font-size: 36px;
}

.h3_l2 {
    margin: 2rem 0;
}

.h3_l3 {
    padding: 1rem 3rem;
    background: white;
    color: black;
    border-radius: .7rem;
    display: inline-block;
}

.h3_l4 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.h3_l4 > div {
    text-align: center;
}

.h4 {
    display: flex;
    justify-content: flex-end;
    height: 15rem;
}

.d_y {
    width: 55%;
    background: url("../img/2.png") no-repeat;
    background-size: 100%;
}

.h5 {
    text-align: center;
    padding-bottom: 3.5rem;
}

.h5 > img {
    width: 3rem;
}

.t_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 3rem auto;
}

.t_nav1 {
    border-bottom: .2rem solid #64242e;
    font-weight: bold;
}

.t_nav2 {
    margin: 0 5rem;
}

.tab1 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 2rem auto;
}

.tab1_l, .tab1_r {
    width: 50%;
}

.tab1_l > img, .tab1_r > div {
    width: 90%;
    text-align: center;
}

.tab1_r_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #64242e;
    padding: 1.5rem 0;
    color: white;
    border-radius: 1rem;
    position: relative;
    left: -50%;
    top: 5rem;
}

.img3 {
    display: flex;
    align-items: center;
}

.img3 > img {
    display: inline-block;
    height: 18px
}

.tab1_r_title > div:last-child {
    font-size: 18px;
}

.tab1_r_t {
    position: relative;
    top: 10rem;
    text-align: left !important;
}

.tab1_r_t > p:last-child {
    margin-top: 2rem;
}

.tab2 {
    width: 90%;
    margin: 0 auto;
    background: #64242e;
    border-radius: 1.8rem;
    padding: 5rem 0;
}

.tab2_1 {
    display: flex;
    margin: 0 auto;
    width: 80%;
    color: white;
}

.tab2_1 > div {
    font-size: 18px;
}

.tab2_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    color: white;
}

.tab2_2 > div:first-child {
    margin-right: 1.5rem;
}

.tab2_2_t {
    font-weight: bold;
    margin-bottom: 1rem;
}

.tab2_2 > div:last-child img {
    width: 100%;
}

.tab3 {
    text-align: right;
    width: 90%;
    margin: 2rem auto 0;
}
.content{
    padding-bottom: 2rem;
}
.c1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.c1 > div {
    font-size: 18px;
    font-weight: bold;
}

.q_x {
    font-style: italic;
    margin-left: 1rem;
}

.c_w {
    width: 90%;
    margin: 0 auto;
}

.c2 {
    display: flex;
    margin: 1rem 0;
}

.c2_l {
    width: 50%;
    margin: 0 auto;
}

.c2_l > img {
    width: 95%;
    margin: 0 auto;
    border-radius: 2rem;
}

.c2_r {
    width: 50%;
}

.c2_r > div {
    width: 95%;
    margin: 0 auto;
}

.num {
    font-size: 72px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 680px) {
    .h3 {
        width: 100%;
        display: block;
    }

    .h3_l, .h3_r {
        width: 100%;
    }

    .h3_l1 {
        font-size: 25px;
    }

    .h3_l4 {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .h4 {
        width: 100%;
    }

    .d_y {
        width: 100%;
    }

    /*.h3_l4 {*/
    /*    bottom: -10rem;*/
    /*}*/

    .t_nav {
        width: 100%;
        margin: 2rem auto 0;
    }

    .tab1 {
        display: block;
        width: 100%;
        margin: 2rem auto;
    }

    .tab1_l, .tab1_r {
        width: 100%;
    }

    .tab1_l > img, .tab1_r > div {
        width: 100%;
    }

    .tab1_r_title {
        position: relative;
        left: 0;
        top: 2rem;
    }

    .tab2 {
        width: 100%;
    }

    .tab1_r_t {
        position: relative;
        top: 2rem;
        padding: 1rem 0;
    }

}

.h3_r img {
    width: 100%;
}

footer {
    text-align: center;
    color: white;
    margin-top: 2rem;
    padding: 2rem 0;
    background: #64242e;
    letter-spacing: 0.5rem;
}